SPRING_DATASOURCE_HIKARI_DRIVERCLASSNAME=org.mariadb.jdbc.Driver
SPRING_DATASOURCE_HIKARI_JDBCURL=jdbc:mariadb://db:3306/web_funfun?characterEncoding=UTF-8&useSSL=false&serverTimezone=UTC
SPRING_DATASOURCE_HIKARI_USERNAME=funfun
SPRING_DATASOURCE_HIKARI_PASSWORD=PASSWORD
